{% extends 'base.html' %}

	{% block content %}
	
	<body class="page7">

		<div class="aboutcontents">

			<div class="grid-container">
				<div class="item1">
					<h1>About PC Starter Facts and The Creator</h1>

				</div>
				<div class="item2">

					I am Jay-ar B. Saballa the creator of PC Starter Facts web site. A 3rd year student in Bachelor of Science in Industrial Education Major in ICT. I hope this website will provide the information that you needed about computers.
				</div>
				<div class="item3">
					PC Starter Facts is created to provide information that can help users to learn and to improve their computer skills and knowledge while browsing on this site we also have compilations of vidoes from famous vloggers and youtubers than you can visit for more information. On this site, we will do our best to respond and give the best feedback that we can have to users' questions about their problems or concern about computers. If you have any questions, concern, comments or you need our service and assistance, feel free to contact us we are glad to serve you.


				</div>
				<div class="item4">
					<img src="/static/images/learn.png" alt="learn logo">
				</div>
				<div class="item4b">
					<img src="/static/images/explore.png" alt="explore logo">
				</div>

				<div class="item5">
					<img src="/static/images/creator.jpg" alt="creator image">
				</div>



			</div>

		</div>
	</body>
	</html>
	{% endblock %}