{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keyword" content="tutorials,pc,tips and tricks,">
	<meta name="Description" content="Provide information about computers for the user to learn and improved.">
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
	<script type="text/javascript" src="{% static '/js/script.js' %}"></script>
	<title>PC Starter Facts</title>

</head>
<body>
	{% include 'navbar.html' %}
	{% block content %}
	{% endblock %}
</body>
</html>
