{% extends 'base.html' %}

	{% block content %}

<br>
	<div><h1>PC Builds List</h1></div>  
	<table class="inftable" id="buildlist" border="2px" align="center" width="80%" style="text-align: center; border-style: double; font-size: 20px; ">
		    
			<tr>
				<th>Build No.</th>
				<th>Processor</th>
				<th>Motherboard</th>
				<th>Graphics Card</th>
				<th>RAM</th>
				<th>Power Supply</th>	
				<th>Delete</th>

			</tr> 
			{% for bld in bilds %}
			<tr>
				<td>{{forloop.counter}} </td>
				<td>{{bld.procs}} </td> 
				<td>{{bld.mobo}} </td>
				<td>{{bld.gpu}} </td> 
				<td>{{bld.ram}} </td> 
				<td> {{bld.psu}}</td> 
				<td><a href="{% url 'Service' bld.id %}">Buy</a></td>
				<td><a href="{% url 'Delbuild' bld.id %}">Delete</a></td>
				
			</tr>
			{% endfor %}
	</table>


	{% endblock %}
