{% extends 'base.html' %}

	{% block content %}
	<title>PC Starter Facts</title>


</br>
	<div class="buildstyle"><h3>Let's build your PC</h3><p>
	In this section, we provide the guides easy and simple that you can follow for your PC. Building your PC is a good start to understanding the process and the connections of hardware parts of the computer. Learning the procedure of assembling and disassembling is very important for every PC owner.</p></div>
	<iframe class="buildiframe" src="https://www.youtube-nocookie.com/embed/PXaLc9AYIcg" title="YouTube video player" allowfullscreen></iframe>
	<div class="buildcontents buildstyle"><h2>Preparations</h2>
		<ol>
			<li>For the preparation you need a Phillips screwdriver and a desk where you will put all the parts of the computer.</li>
			<li>Next is to arrange all computer components in one place and make sure that it is complete and compatible to each other.</li>
		</ol>
		<ul>
			<li>AMD to AMD, Intel to Intel in Motherboard and Processor.</li>
			<li>Processors without integrated graphics need a graphics card to have an output</li>
			<li>Motherboard size should be compatible to the size of the case.</li>
		</ul> 
		<h2>Now lets proceed to the steps by step procedure on building your PC.</h2>
		<ol>
			<li>The first step is to install your Processor in the motherboard, be careful on handling it and avoid touching pins because it can easily damage. There is an arrow in the corner of it and that's the position on how it will be inserted in the socket. </li>
			<li>Next is the cooler, some CPU cooler requires a bracket for installing, and some of are not. Before installing it make sure to check if the cooler has a plastic that needs to be removed and a pre-applied thermal paste if none apply some in the CPU then start mounting screws on each side of the cooler and connect the cable into CPU fan slot.</li>
			<li>Install the RAM place it in the slot and make sure that both sides of the are lock.</li>
			<li>Install the I/O shield in the case and install motherboard on the case make sure that it placed correctly and mount every screw in each hole. </li><li>Install power supply in the case and start organizing the cable on where they should be placed to avoid confusion after installing all components.</li>
			<li>Install Graphics Card in the PCIe x16 slot and it should be aligned to the bracket on the backplate then lock in the slot and mounted with the screw. The 8 pin or 6 pin pci-e cable(depends on GPU) from power supply should be connected.</li>
			<li>Install your Hard disk drive and/or Solid-state drive in the drive bays from the case. Align the storage in the hole then mount the screws tightly and connect the SATA cable from your storage to the motherboard. Some of the computer cases have an SSD slot at the back of the case and an M.2 slot for M.2 SSD.</li>
			<li>After installing all the components double-check all the components if tightly installed and their cables if connected in the right place.</li>
			<li>You can now connect all your peripherals and install an operating system and start using it. Congratualations.</li>
		</ol>
	</div>
</body>
</html>
	{% endblock %}