{% extends 'base.html' %}
{% block content %}


<br>
	<div><h1>PC Starter Facts</h1></div>
	<div><h2>In this site we offer our help in order to guide everyone to learn how to build and discover some tips and tricks that can be useful for the improvements  of your skills and knowledge about computers.</h2>
	</div><br /><br /><br /><br />
	<div class="homegallery">
		<img src="/static/images/COMTECH.jpg" alt="Build" > </a>
		<div class="homedescrip">Learn the step by step procedure of building PC.</div>
	</div>
	<div class="homegallery"><img src="/static/images/TIPSANDTRICKS.jpg" alt="Tips and Tricks"></a>
		<div class="homedescrip">Learn the tips and tricks that you can use to make your work easier.</div>
	</div>
	<div class="homegallery">
		<img src="/static/images/VID.jpg" alt="Vidoes" ></a>
		<div class="homedescrip">Watch some videos where you can discover more about computer.</div>
	</div>
</body>
</html>	
	{% endblock %}	
