{% extends 'base.html' %}
	{% block content %}
	<title>PC Starter Facts</title>

<body class="page4">
	<br>
	<div class="upper">
		<p>Here are some tips and tricks that can make your life easier in the world of technology. In this tips and tricks we compile of the short cut keys that may help you on using your computer.</p></div>
		<iframe src="https://www.youtube.com/embed/INP77cWyUXE" name="tv" title="YouTube video player"  ></iframe>
		<form>
		
	
		<div class="tipscontent">
			<h3>Windows 10 Shortcut keys<a href="https://www.youtube.com/embed/INP77cWyUXE" target="tv">&ensp;(Show All)</a></h3>	
			<ul class="channel">
				
				<li>Move/Reposition windows<a href=https://www.youtube.com/embed/4toBM51uN74 target="tv">&ensp;Show</a>
					<ul>
						<li>WINDOWS KEY + ARROW LEFT/RIGHT</li>
					</ul>
				</li>
				<li>Recover removed tab<a href="https://www.youtube.com/embed/mtR4Xz2CMtQ" target="tv">&ensp;Show</a>
					<ul>
						<li>CTRL + SHIFT + T</li>
					</ul>
				</li>
				<li>Open application from task bar <a href="https://www.youtube.com/embed/Kq2KYOOMVYw" target="tv">&ensp;Show</a>
					<ul>
						<li>WINDOWS KEY + NUMBER KEYS</li>
					</ul>
				</li>
				<li>Open task manager<a href="https://www.youtube.com/embed/x8bZlHld928" target="tv">&ensp;Show</a>
					<ul>
						<li>CTLR + SHIFT + ESC</li>
					</ul>
				</li>
				<li>Open computer settings<a href="https://www.youtube.com/embed/Zi_XkuJhFsY" target="tv">&ensp;Show</a>
					<ul>
						<li>WINDOWS + I</li>
					</ul>
				</li>
				<li>Screen recording from xbox game bar<a href="https://www.youtube.com/embed/002t5pxx6Iw" target="tv">&ensp;Show</a>
					<ul>
						<li>Start recording : WINDOWS KEY + ALT + R </li>
						<li>Open game bar: WINDOWS + G </li>
					</ul>
				</li>
				<li>Create virtual desktop<a href="https://www.youtube.com/embed/BkwT9RaOieg" target="tv">&ensp;Show</a>
					<ul>
						<li>Add virtual desktop : WINDOWS + CLTR + D </li>
						<li>Switch desktop : WINDOWS + CTLR + ARROW KEYS </li>
						<li>Remove virtual desktop : WINDOWS + CTRL + F4 </li>
					</ul>
				</li>
				<li>Maximize and Minimize window<a href="https://www.youtube.com/embed/cjioEbluVY0" target="tv">&ensp;Show</a>
					<ul>

						<li>Maximize window : WINDOWS + UP ARROW KEY </li>
						<li>Minimize window : WINDOWS + DOWN ARROW KEY</li>
					</ul>
				</li>

			</ul>
		</div>
	{% endblock %}