{% extends 'base.html' %}
{% block content %}


<body class="page5">
	<div class="videosgallery">
		<iframe src="https://www.youtube-nocookie.com/embed/VeAK7Bv4F1o" name="show" title="YouTube video player" ></iframe> <div class="videosdescrip">Tips and Tricks</div>
	</div>
	<div class="videosgallery">
		<iframe src="https://www.youtube-nocookie.com/embed/PXaLc9AYIcg"  title="YouTube video player" ></iframe>
		<div class="videosdescrip">PC Building</div>
	</div>

	<div class="videosgallery">
		<iframe src="https://www.youtube-nocookie.com/embed/v7MYOpFONCU"  title="YouTube video player" ></iframe>
		<div class="videosdescrip">POV PC Building</div>
	</div>
	<div class="videosgallery">
		<iframe src="https://www.youtube-nocookie.com/embed/RYYoCXh2gtw"  title="YouTube video player"></iframe>
		<div class="videosdescrip">After building PC</div>
	</div>
	<div class="videosgallery">
		<iframe src="https://www.youtube.com/embed/1RkR0RvXEKU" title="YouTube video player" ></iframe>
		<div class="videosdescrip">How to Clean your PC</div>
	</div>
	<div class="videosgallery">
		<iframe src="https://www.youtube.com/embed/-8LMML_EiMg" title="YouTube video player" ></iframe>
		<div class="videosdescrip">Common PC building mistakes</div>
	</div>


	{% endblock %}